.b-address {
  margin-top: 50px;
  display: flex;

  @media (max-width: $smallMobile) {
    flex-direction: column;
    margin-top: 1em;
  }

  .column {
    flex: 50% 0 0;
    padding-right: 50px;

    @media (max-width: $smallMobile) {
      flex: 100% 1 1;
      text-align: center;
      padding: 0;
      margin-top: 1em;
    }

    .direction {

      & + .direction {
        margin-top: 1em;
      }
    }
  }
}