.b-advantages {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;

  @media (max-width: $tablet) {
    flex-direction: column;
  }

  .advantages-item {
    display: flex;
    align-items: center;
    padding: 26px;
    background-color: $aqua;
    flex: calc(50% - 20px);
    margin: 0 20px 20px 0;

    @media (max-width: $large) {
      box-shadow: 0 0 16px transparentize($white, .94);
      background-color: $white;
    }

    @media (max-width: $tablet) {
      margin: 20px 0 0;
    }

    &.wide {
      flex: calc(100% - 20px) 0 0;
      margin: 0 0 20px 0;
    }

    &.thin {
      flex: calc(33.33% - 40px) 0 0;
    }

    & + .advantages-item {
      @media (max-width: $tablet) {
        margin: 20px 0 0;
      }
    }

    .advantages-icon {
      flex: 50px 0 0;

      @media (max-width: $mobile) {
        flex: 40px 0 0;
      }

      img {
        display: block;
      }
    }

    .advantages-label {
      margin-left: 43px;
      font-weight: $f-bold;
      font-size: 1.2em;
      line-height: 1.25;

      @media (max-width: $mobile) {
        font-size: .9em;
        line-height: 1.16;
        margin-left: 16px;
      }
    }
  }
}