.b-breadcrumbs {
  padding: 27px 0;

  @media (max-width: $mobile) {
    display: none;
  }

  .breadcrumbs {
    display: flex;
    align-items: center;
    font-size: .8em;
    line-height: 1.25;

    .breadcrumbs-item {

      & + .breadcrumbs-item {
        margin-left: 22px;
        position: relative;

        &:before {
          content: '>';
          color: $black;
          position: absolute;
          left: -13px;
          top: 50%;
          transform: translateY(-50%);
        }
      }

      .breadcrumbs-link {
        color: $black;
      }

      .breadcrumbs-current {
        color: $opal;
      }
    }
  }
}