.b-competence {
  margin-top: 66px;

  .competence-group {
    display: flex;
    justify-content: space-between;
    margin-top: 55px;

    @media (max-width: $tablet) {
      flex-wrap: wrap;
    }

    @media (max-width: $mobile) {
      margin-top: 45px;
    }

    & + .competence-group {
      margin-top: 0;
    }

    .competence-item {
      flex: 33.33% 0 0;
      padding-right: 40px;
      margin-bottom: 55px;

      @media (max-width: $tablet) {
        flex: 50% 0 0;
      }

      @media (max-width: $mobile) {
        flex: 100% 0 0;
        margin-bottom: 36px;
      }

      .competence-title {
        border-left: 6px solid $opal;
        padding: 12px 0 12px 22px;
        font-weight: $f-bold;
        font-size: 1.4em;

        @media (max-width: $mobile) {
          font-size: 1em;
        }
      }

      .competence-list {
        margin-top: 35px;
        font-size: 1.2em;
        line-height: 1.167;

        @media (max-width: $mobile) {
          font-size: .9em;
          margin-top: 22px;
        }

        &__item {
          padding-left: 28px;
          position: relative;

          & + .competence-list__item {
            margin-top: 4px;
          }

          &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 12px;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background-color: $opal;

            @media (max-width: $mobile) {
              top: 7px;
            }
          }
        }
      }

      &.amulet-theme {

        .competence-title {
          border-left-color: $amulet;
        }

        .competence-list {

          &__item {

            &:before {
              background-color: $amulet;
            }
          }
        }
      }

      &.pink-theme {

        .competence-title {
          border-left-color: $pink;
        }

        .competence-list {

          &__item {

            &:before {
              background-color: $pink;
            }
          }
        }
      }

      &.coral-theme {

        .competence-title {
          border-left-color: $coral;
        }

        .competence-list {

          &__item {

            &:before {
              background-color: $coral;
            }
          }
        }
      }

      &.cadet-theme {

        .competence-title {
          border-left-color: $cadet;
        }

        .competence-list {

          &__item {

            &:before {
              background-color: $cadet;
            }
          }
        }
      }

      &.puce-theme {

        .competence-title {
          border-left-color: $puce;
        }

        .competence-list {

          &__item {

            &:before {
              background-color: $puce;
            }
          }
        }
      }

      &.thistle-theme {

        .competence-title {
          border-left-color: $thistle;
        }

        .competence-list {

          &__item {

            &:before {
              background-color: $thistle;
            }
          }
        }
      }

      &.acapulco-theme {

        .competence-title {
          border-left-color: $acapulco;
        }

        .competence-list {

          &__item {

            &:before {
              background-color: $acapulco;
            }
          }
        }
      }

      &.split {
        flex: 66.66% 0 0;
        padding-right: 0;

        @media (max-width: $mobile) {
          flex: 100% 0 0;
        }

        .competence-list {
          display: flex;
          flex-wrap: wrap;

          &__item {
            flex: 50% 0 0;
            padding-right: 40px;

            @media (max-width: $mobile) {
              flex: 100% 0 0;
            }
          }
        }
      }
    }
  }
}