.b-content {

  .holder {
    display: flex;
    justify-content: space-between;

    @media (max-width: $mobile) {
      flex-direction: column-reverse;
    }

    .info {
      flex: 55%;
      padding-right: 50px;

      @media (max-width: $mobile) {
        flex: 100%;
        padding-right: 0;
        margin-top: 15px;
        text-align: center;
      }

      &.no-paddings {
        padding: 0;

        @media (max-width: $mobile) {
          margin-top: 0;
        }
      }

      .facts-list {
        margin-top: 60px;
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;

        @media (max-width: $mobile) {
          margin-top: 40px;
          flex-wrap: nowrap;
          flex-direction: column;
        }

        .item {
          flex: 50%;
          display: flex;
          flex-direction: column;
          padding-right: 15px;
          margin-bottom: 25px;

          @media (max-width: $mobile) {
            flex: 100%;
            padding-right: 0;
            text-align: center;
          }

          .value {
            color: $aquamarine;
            font-weight: $f-bold;
            font-size: 4.5em;
            line-height: 1.17;

            @media (max-width: $mobile) {
              font-size: 2.8em;
            }
          }

          .label {
            font-size: .9em;
            line-height: 1.15;
            color: $black;

            .highlight {
              font-weight: $f-bold;
              color: $aquamarine;
              font-size: 2em;
              line-height: normal;

              @media (max-width: $mobile) {
                font-size: 1.3em;
              }
            }
          }

          &.horizontal {
            flex-direction: row;
            align-items: center;

            @media (max-width: $mobile) {
              flex-direction: column;
            }

            .label {
              margin-left: 20px;

              @media (max-width: $mobile) {
                margin-left: 0;
              }
            }
          }
        }
      }
    }

    .image {
      flex: 45%;
      text-align: center;

      @media (max-width: $mobile) {
        flex: 100%;
      }

      img {

        &.morph {
          margin-left: -80px;
          width: calc(100% + 80px);
          max-width: calc(100% + 80px);

          @media (max-width: $large) {
            margin-left: 0;
            width: 100%;
            max-width: 100%;
          }
        }

        @media (max-width: $mobile) {
          width: 450px;
        }
      }
    }

    &.reverse {
      flex-direction: row-reverse;

      @media (max-width: $mobile) {
        flex-direction: column-reverse;
      }

      .info {
        padding-right: 0;
      }

      .image {
        padding-right: 80px;

        @media (max-width: $mobile) {
          padding-right: 0;
        }
      }
    }

    &.with-top {
      margin-top: 80px;

      @media (max-width: $mobile) {
        margin-top: 40px;
      }
    }

    &.centered {
      align-items: center;
    }

    & + .holder {
      margin-top: 40px;

      @media (max-width: $mobile) {
        margin-top: 40px;
      }
    }
  }

  .b-team {
    margin-top: 84px;
  }
}