.b-contacts {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  margin-top: 45px;

  .contacts-item {
    flex: 33.33% 1 1;
    padding: 0 20px 0 40px;
    margin-bottom: 40px;
    font-size: 1em;
    line-height: 1.5;

    @media (max-width: $mobile) {
      flex: 50% 1 1;
      text-align: left;
    }

    @media (max-width: $smallMobile) {
      flex: 100% 1 1;
      text-align: center;
      padding: 0;
    }

    .item-headline {
      font-weight: $f-bold;
    }

    .contacts-list {
      margin-top: 10px;

      .contact {
        position: relative;

        &.phone {

          &:before {
            content: '';
            left: -40px;
            top: 50%;
            transform: translateY(-50%);
            width: 24px;
            height: 24px;
            position: absolute;
            background: url('../../images/ic-phone.svg') no-repeat center;

            @media (max-width: $smallMobile) {
              display: none;
            }
          }
        }

        &.mail {

          &:before {
            content: '';
            left: -40px;
            top: 50%;
            transform: translateY(-50%);
            width: 24px;
            height: 24px;
            position: absolute;
            background: url('../../images/ic-mail.svg') no-repeat center;

            @media (max-width: $smallMobile) {
              display: none;
            }
          }
        }
      }
    }
  }
}