.b-features {

  .holder {
    margin-top: 30px;

    @media (max-width: $large) {
      display: flex;
      flex-wrap: wrap;
    }

    .item {
      display: flex;
      align-items: center;
      justify-content: space-between;

      @media (max-width: $large) {
        flex: 33.33% 0 0;
        flex-direction: column-reverse;
        justify-content: stretch;
        margin-bottom: 60px;
        padding: 0 16px;
        max-height: 530px;
      }

      @media (max-width: $mobile) {
        flex: 100%;
      }

      .info {
        flex: 50%;
        padding-right: 50px;

        @media (max-width: $large) {
          flex: 100%;
          text-align: center;
          margin-top: 30px;
          padding-right: 0;
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          align-items: center;
        }

        .title {
          font-size: 2.7em;
          line-height: 1.167;
          font-weight: $f-bold;

          @media (max-width: $large) {
            font-size: 1.2em;
          }
        }

        .subtitle {
          font-weight: $f-bold;
          margin-top: 1em;
          line-height: 1.25;

          @media (max-width: $large) {
            display: none;
          }
        }

        .g-button {
          margin-top: 34px;

          @media (max-width: $large) {
            margin-top: 15px;
          }
        }
      }

      .image {
        flex: 50%;
        display: flex;
        justify-content: flex-end;

        @media (max-width: $large) {
          flex: 100%;
          text-align: center;
        }

        img {
          width: 100%;

          @media (max-width: $large) {
            max-width: 480px;
            width: 100%;
          }
        }
      }

      &:nth-child(2n+2) {
        flex-direction: row-reverse;

        @media (max-width: $large) {
          flex-direction: column-reverse;
        }

        .info {
          padding-right: 0;
        }

        .image {
          justify-content: flex-start;
          padding-right: 50px;

          @media (max-width: $large) {
            padding-right: 0;
          }
        }
      }
    }
  }
}