.b-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0 24px 40px;
  margin-top: 40px;

  .social {
    display: flex;
    align-items: center;

    .item {

      & + .item {
        margin-left: 32px;
      }

      img {
        display: block;
      }
    }
  }

  .copyright {
    margin-top: 24px;
    font-size: .8em;
    line-height: 1.188;
    color: transparentize($black, .5);
  }

  &.white {

    .copyright {
      color: transparentize($white, .5);
    }
  }
}