.f-form {
  max-width: 690px;
  margin: 0 auto;

  .f-row {
    display: flex;
    justify-content: space-between;

    & + .f-row {
      margin-top: 30px;
    }

    .f-element {
      width: 100%;

      &.centered {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      &.mobile-centered {
        @media (max-width: $mobile) {
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }

      .f-input,
      .f-textarea {
        height: 64px;
        outline: 0 none;
        width: 100%;
        border: none;
        background-color: transparent;
        border-bottom: 1px solid $black;
        font: $f-bold 1em/1.15 'Roboto';
        color: $black;

        @media (max-width: $mobile) {
          text-align: center;
        }

        &::-webkit-input-placeholder {
          color: $black;
        }
      }

      .f-textarea {
        resize: none;
        padding-top: 20px;
      }

      .f-file {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        border: 2px solid $opal;
        cursor: pointer;
        color: $opal;
        outline: 0 none;
        height: 54px;
        padding: 0 24px;
        text-transform: uppercase;
        font-size: 14px;
        line-height: 16px;
        border-radius: 30px;
        font-weight: $f-bold;
        transition: opacity .15s ease-in-out;

        &:hover {
          opacity: .8;
        }
      }
    }
  }
}