.b-generic {
  background-repeat: no-repeat;
  background-position: right 100px;
  background-size: 660px auto;
  padding-bottom: 91px;

  @media (max-width: $large) {
    background-position: 120% top;
    background-size: 560px auto;
  }

  @media (max-width: $mobile) {
    flex-direction: column-reverse;
    background: none!important;
  }

  .holder {
    display: flex;
    justify-content: flex-start;

    @media (max-width: $mobile) {
      flex-direction: column-reverse;
    }

    .info {
      flex: 100%;
      max-width: 930px;

      @media (max-width: $tablet) {
        flex: 70%;
        max-width: 70%;
      }

      @media (max-width: $mobile) {
        flex: 100%;
        max-width: 100%;
        margin-top: 15px;
        text-align: center;
      }

      .g-title-h2 {
        margin-top: 46px;

        @media (max-width: $mobile) {
          margin-top: 34px;
        }
      }

      .headline {
        margin-top: 54px;
        font-size: 1.4em;
        line-height: 1.25;
        color: $black;
        font-weight: $f-bold;

        @media (max-width: $mobile) {
          margin-top: 34px;
          font-size: 1.1em;
        }

        & + .b-advantages {
          margin-top: 40px;

          @media (max-width: $mobile) {
            margin-top: 30px;
          }
        }
      }

      .b-advantages {
        margin-top: 56px;

        @media (max-width: $mobile) {
          margin-top: 34px;
        }
      }

      .price {
        font-weight: $f-bold;
        font-size: 1.4em;
        line-height: 1.25;
        margin-top: 40px;

        @media (max-width: $mobile) {
          font-size: 1em;
          margin-top: 30px;
        }
      }
    }

    .image {
      display: none;

      @media (max-width: $mobile) {
        display: block;
        flex: 100%;
        text-align: center;
      }

      .controls {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .arrow {
          display: flex;
          align-items: center;
          justify-content: center;
          flex: 46px 0 0;
          height: 46px;
          background-color: $pale_opal;
          border-radius: 50%;
        }

        .headline {
          color: $black;
          font-size: 1.2em;
          font-weight: $f-bold;
          padding: 0 16px;
        }
      }
    }
  }
}