.b-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 38px 24px 0;

  @media (max-width: $mobile) {
    background-color: $white;
    padding: 12px 16px;
  }

  .main {
    display: flex;
    align-items: center;

    @media (max-width: $mobile) {
      flex: 100%;
      justify-content: space-between;
    }

    .logo {
      display: inline-block;

      @media (max-width: $mobile) {
        width: 48px;
      }
    }

    .burger {
      margin-left: 56px;

      @media (max-width: $tablet) {
        margin-left: 24px;
      }
    }
  }

  .info {
    display: flex;
    align-items: center;
    margin-left: 32px;

    @media (max-width: $tablet) {
      margin-left: 16px;
    }

    @media (max-width: $mobile) {
      display: none;
    }

    .links {
      display: flex;
      white-space: nowrap;

      .item {
        @media (max-width: $tablet) {
          font-size: .9em;
        }

        & + .item {
          margin-left: 41px;
          position: relative;

          @media (max-width: $tablet) {
            margin-left: 30px;
          }

          &:before {
            content: '';
            position: absolute;
            left: -23px;
            top: 50%;
            transform: translateY(-50%);
            background-color: $turquoise;
            border-radius: 50%;
            width: 5px;
            height: 5px;

            @media (max-width: $tablet) {
              left: -18px;
            }
          }
        }
      }
    }

    .g-button {
      margin-left: 54px;

      @media (max-width: $tablet) {
        margin-left: 32px;
      }
    }
  }
}