.b-line {
  width: 100%;
  height: 224px;
  background: url('../../images/bg-line2.png') no-repeat center center;

  @media (max-width: $desctop) {
    margin-top: 24px;
  }

  @media (max-width: $mobile) {
    display: none;
  }

  .holder {
    position: relative;
    height: 254px;

    .item {
      position: absolute;
      display: flex;
      flex-direction: column;
      align-items: center;
      font-weight: bold;
      font-size: 1.1em;
      text-align: center;

      @media (max-width: $tablet) {
        font-size: .9em;
      }

      .icon {
        margin: 0 0 16px;
      }

      .link {
        color: $dark;

        &:hover {
          color: $turquoise;
        }
      }

      &.top {
        flex-direction: column-reverse;

        .icon {
          margin: 16px 0 0;
        }
      }

      &.design {
        top: -27px;
        left: 15px;

        @media (max-width: $desctop) {
          left: 1%;
        }
      }

      &.performance {
        top: 78px;
        left: 149px;

        @media (max-width: $desctop) {
          left: 11%;
        }
      }

      &.development {
        top: -21px;
        left: 480px;

        @media (max-width: $desctop) {
          left: 34%;
        }
      }

      &.support {
        top: 115px;
        left: 753px;

        @media (max-width: $desctop) {
          left: 54%;
        }
      }

      &.documents {
        top: 70px;
        left: 980px;

        @media (max-width: $desctop) {
          left: 70%;
        }
      }
    }
  }
}