.b-main-content {
  padding: 32px 0 0;

  .holder {
    display: flex;
    align-items: center;

    @media (max-width: $mobile) {
      flex-direction: column;
    }

    .content {
      flex: 55% 1 1;
      padding-right: 32px;

      @media (max-width: $mobile) {
        flex: 100%;
        padding: 0;
      }

      .subtitle {
        text-transform: uppercase;
        color: $aquamarine;
        font-size: 1.2em;
        letter-spacing: .2em;
        line-height: 1.48;

        @media (max-width: $mobile) {
          font-size: .9em;
          text-align: center;
        }
      }

      .title {
        margin-top: 20px;
        font-weight: $f-black;
        font-size: 2.4em;
        line-height: 1.25;
        color: $aquamarine;

        @media (max-width: $mobile) {
          font-size: 1.8em;
          line-height: 1.12;
          text-align: center;
          margin-top: 0;
        }
      }
    }

    .image {
      flex: 45% 1 1;
      text-align: right;

      @media (max-width: $mobile) {
        flex: 100%;
        margin-top: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
      }

      img {
        max-width: 430px;
        width: 100%;
      }

      .g-button {
        display: none;

        @media (max-width: $mobile) {
          display: inline-flex;
          margin-top: 6px;
        }
      }
    }
  }
}