.b-modal {
  width: 100%;

  .title {
    font-size: 2.7em;
    line-height: 1.241;
    font-weight: $f-bold;
    text-align: center;

    @media (max-width: $mobile) {
      font-size: 1.7em;
      line-height: normal;
    }
  }

  .subtitle {
    width: 690px;
    max-width: 100%;
    margin: 63px auto 0;

    @media (max-width: $mobile) {
      margin: 43px auto 0;
      text-align: center;
    }
  }

  .f-form {
    margin-top: 30px;

    .f-file {
      @media (max-width: $mobile) {
        margin: 0 auto;
      }
    }
  }
}

.fancybox-content {
  padding: 56px 24px;
  width: 1083px;
  max-width: 90%;

  @media (max-width: $mobile) {
    padding: 64px 16px 33px;
  }
}

.fancybox-slide--html {

  .fancybox-close-small {
    width: 32px;
    height: 32px;
    top: 38px;
    right: 38px;
    padding: 0;
    background: url('../../images/ic-close.svg') no-repeat center;
    background-size: cover;

    @media (max-width: $mobile) {
      width: 20px;
      height: 20px;
      top: 22px;
      right: 20px;
    }

    svg {
      display: none;
    }
  }
}