.b-navigation {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  width: 354px;
  min-height: 100vh;
  transform: translateX(-150%);
  padding: 38px 24px 63px;
  background-color: $white;
  box-shadow: 0 4px 16px transparentize($black, .88);
  transition: transform .25s ease-in-out;

  @media (max-width: $mobile) {
    width: 100%;
    padding: 14px 16px 40px;
  }

  &.active {
    transform: translateX(0);
  }

  .close {
    position: absolute;
    top: 23px;
    right: 22px;

    @media (max-width: $mobile) {
      width: 45px;
      height: 45px;
      text-align: center;
      line-height: 50px;
      right: 16px;
      top: 12px;
    }
  }

  .header {
    @media (max-width: $mobile) {
      padding-bottom: 12px;
    }

    .logo {
      display: inline-block;

      @media (max-width: $mobile) {
        width: 48px;
      }
    }
  }

  .links {
    flex: 1;
    padding: 93px 0 0 18px;

    @media (max-width: $mobile) {
      display: flex;
      align-items: center;
      padding: 0;
    }

    .list {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      line-height: 2.05;
      font-weight: $f-bold;

      @media (max-width: $mobile) {
        flex: 100%;
        align-items: center;
      }

      .item {

        .link {
          color: $dark;

          &:hover,
          &.active {
            opacity: 1;
            color: $turquoise;
          }
        }
      }
    }
  }

  .social {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 24px;
    padding: 0 8px;

    @media (max-width: $mobile) {
      justify-content: center;
    }

    .item {

      & + .item {
        @media (max-width: $mobile) {
          margin-left: 32px;
        }
      }
    }
  }
}