.b-props {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 931px;
  padding: 0 16px;
  margin: 62px auto 0;

  @media (max-width: $mobile) {
    flex-direction: column;
    margin-top: 31px;
  }

  .image {
    flex: 250px 0 0;
    padding-right: 75px;

    @media (max-width: $mobile) {
      display: none;
    }
  }

  .content {
    flex: calc(100% - 250px) 0 0;
    line-height: 1.25;

    @media (max-width: $mobile) {
      text-align: center;
      flex: 100% 0 0;
      font-size: .9em;
    }

    .block {

      & + .block {
        margin-top: 1em;
      }
    }
  }
}