.b-start-project {
  background-color: $opal;

  .controls {

    .holder {
      height: 170px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      @media (max-width: $mobile) {
        flex-direction: column;
        height: auto;
        padding: 32px 0;
      }

      .title {
        color: $white;
        font-size: 2.7em;
        line-height: 1.14;
        font-weight: $f-bold;

        @media (max-width: $mobile) {
          font-size: 1.8em;
          text-align: center;
        }
      }

      .buttons {
        margin-left: 20px;
        display: flex;
        align-items: center;

        @media (max-width: $mobile) {
          margin: 20px 0 0;
          flex-direction: column;
        }

        .g-button {

          @media (max-width: $mobile) {
            width: 100%;
          }

          & + .g-button {
            margin-left: 50px;

            @media (max-width: $mobile) {
              margin: 20px 0 0;
            }
          }
        }

      }
    }
  }

  .form {
    display: none;
    background: url('../../images/bg-start_1.png') no-repeat left top,
                url('../../images/bg-start_2.png') no-repeat right bottom;
    padding: 80px 0 0;
    border-top: 1px solid $white;

    &.white {
      border-top: none;
      background: url('../../images/bg-start_3.png') no-repeat left top,
                  url('../../images/bg-start_4.png') no-repeat right bottom $pale;
      background-size: 35% auto, 35% auto;

      @media (max-width: $mobile) {
        background: $pale;
      }
    }

    .form-box {
      background-color: $white;
      padding: 58px 24px 60px;
      max-width: 1163px;
      margin: 0 auto;

      &.wide {
        max-width: 1246px;

        @media (max-width: $large) {
          max-width: 1163px;
        }
      }

      .title {
        font-size: 2.7em;
        line-height: 1.241;
        font-weight: $f-bold;
        text-align: center;

        @media (max-width: $mobile) {
          font-size: 1.7em;
          line-height: normal;
        }
      }

      .subtitle {
        width: 690px;
        max-width: 100%;
        margin: 63px auto 0;

        @media (max-width: $mobile) {
          margin: 43px auto 0;
          text-align: center;
        }
      }

      .f-form {
        margin-top: 30px;

        .f-file {
          @media (max-width: $mobile) {
            margin: 0 auto;
          }
        }
      }
    }
  }
}