.b-tabs {

  .tabs-holder {
    border-bottom: 1px solid transparentize($black, .75);

    @media (max-width: $mobile) {
      border-bottom: none;
      position: relative;
      padding: 0 16px;
    }

    .mobile-tab {
      display: none;

      @media (max-width: $mobile) {
        display: flex;
        align-items: center;
        width: 100%;
        height: 59px;
        padding: 0 36px 0 16px;
        font-size: .8em;
        line-height: 1.25;
        border: 1px solid transparentize($black, .75);
        background-color: $white;
        transition: all .15s ease-in-out;
        position: relative;
        font-weight: $f-bold;
      }

      &:before {
        content: '';
        background: url('../../images/ic-chevron.png') no-repeat center;
        background-size: cover;
        position: absolute;
        top: 50%;
        right: 16px;
        transform: translateY(-50%);
        width: 12px;
        height: 7px;
        transition: transform .15s ease-in-out;
      }

      &.open {
        border-color: $turquoise;
        color: $turquoise;

        &:before {
          transform: rotate(180deg);
          top: calc(50% - 7px);
        }
      }
    }

    .tabs-list {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      max-width: 1163px;
      padding: 0 16px;
      margin: 0 auto;

      @media (max-width: $mobile) {
        opacity: 0;
        visibility: hidden;
        transition: opacity .15s ease-in;
        position: absolute;
        top: 100%;
        left: 16px;
        z-index: 1;
        width: calc(100% - 32px);
        display: flex;
        flex-direction: column;
        border: 1px solid transparentize($black, .75);
        background-color: $white;
        padding: 0;
      }

      &.show {
        @media (max-width: $mobile) {
          opacity: 1;
          visibility: visible;
        }
      }

      .tab-item {
        flex: 1 1;
        text-align: center;
        position: relative;
        height: 59px;
        cursor: pointer;
        transition: color .15s ease-in-out;
        padding: 0 10px;
        line-height: 1.25;

        @media (max-width: $mobile) {
          font-size: .8em;
          width: 100%;
          flex: 40px;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        &:before {
          content: '';
          position: absolute;
          bottom: -1px;
          left: 0;
          width: 100%;
          height: 2px;
          background-color: $turquoise;
          opacity: 0;
          transition: opacity .15s ease-in-out;

          @media (max-width: $mobile) {
            display: none;
          }
        }

        &.active {
          color: $turquoise;

          &:before {
            opacity: 1;
          }
        }

        &:hover {
          color: transparentize($turquoise, .8);

          @media (max-width: $mobile) {
            color: $turquoise;
          }

          &:before {
            opacity: .8;

            @media (max-width: $mobile) {
              opacity: 1;
            }
          }
        }
      }
    }
  }

  .tab-content {
    padding-top: 57px;
  }
}