.b-team {
  width: 100%;

  .team-group {
    display: flex;
    flex-direction: column;

    & + & {
      margin-top: 10px;
    }

    &_title {
      margin-bottom: 40px;
      font-weight: bold;

      @media (max-width: $mobile) {
        font-size: 1.8em;
        line-height: 1.25;
        color: $black;
      }
    }

    .team-holder {
      display: flex;
      flex-wrap: wrap;
      align-items: stretch;
      justify-content: flex-start;

      .team-member {
        flex: 20% 0 0;
        padding: 0 5px;
        margin-bottom: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        @media (max-width: 1200px) {
          flex: 25% 0 0;
        }

        @media (max-width: $tablet) {
          flex: 33% 0 0;
        }

        @media (max-width: $mobile) {
          flex: 50% 0 0;
        }

        @media (max-width: $smallMobile) {
          flex: 100% 0 0;
        }

        & > div {
          width: 220px;
        }

        &_image {

          img {
            max-width: 170px;
            display: block;
            margin: 0 auto;
          }
        }

        &_name {
          margin-top: 25px;
          font-weight: $f-bold;
          font-size: .9em;
          line-height: 1.15;
        }

        &_experience {
          margin-top: 1em;
          font-size: .7em;
          color: $gray;
          line-height: 1.15;
        }
      }
    }
  }

  .more-btn {
    width: 235px;
    margin: 0 auto;
  }
}