.b-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  &.index-theme {
    background: url('../../images/bg-index1.png') no-repeat top left,
                url('../../images/bg-index2.png') no-repeat bottom right,
                linear-gradient(359.79deg, $solitude 0.37%, $white 99.69%);

    @media (max-width: $mobile) {
      background: url('../../images/bg-index1.png') no-repeat top left,
                  linear-gradient(359.79deg, $solitude 0.37%, $white 99.69%);
      background-size: 80% auto;
    }
  }

  &.design-theme {
    background: url('../../images/bg-design_1.png') no-repeat bottom left,
                url('../../images/bg-design_2.png') no-repeat bottom left,
                url('../../images/bg-design_3.png') no-repeat 18% top,
                url('../../images/bg-design_4.png') no-repeat right top,
                url('../../images/bg-design_5.png') no-repeat left 50%,
                url('../../images/bg-design_6.png') no-repeat right 98%,
                linear-gradient(359.79deg, $solitude 0.37%, $white 99.69%);

    @media (max-width: $large) {
      background: url('../../images/bg-design_1.png') no-repeat bottom left,
                  url('../../images/bg-design_2.png') no-repeat bottom left,
                  url('../../images/bg-design_3.png') no-repeat 18% top,
                  url('../../images/bg-design_4.png') no-repeat right top,
                  linear-gradient(359.79deg, $solitude 0.37%, $white 99.69%);
    }

    @media (max-width: $mobile) {
      background: linear-gradient(359.79deg, $solitude 0.37%, $white 99.69%);
    }
  }

  &.facts-theme {
    background: url('../../images/bg-facts_1.png') no-repeat left top,
                url('../../images/bg-facts_2.png') no-repeat right bottom,
                url('../../images/bg-facts_3.png') no-repeat right bottom,
                url('../../images/bg-facts_4.png') no-repeat left calc(100% - 120px),
                url('../../images/bg-facts_5.png') no-repeat 330px top,
                linear-gradient(359.79deg, $solitude 0.37%, $white 99.69%);

    @media (max-width: $large) {
      background: url('../../images/bg-facts_1.png') no-repeat left top,
                  url('../../images/bg-facts_2.png') no-repeat right bottom,
                  url('../../images/bg-facts_4.png') no-repeat left bottom,
                  url('../../images/bg-facts_5.png') no-repeat 340px top,
                  linear-gradient(359.79deg, $solitude 0.37%, $white 99.69%);
    }

    @media (max-width: $mobile) {
      background: linear-gradient(359.79deg, $solitude 0.37%, $white 99.69%);
    }
  }

  &.generic-theme {
    background: url('../../images/bg-generic_1.png') no-repeat left top,
                url('../../images/bg-generic_2.png') no-repeat 340px top,
                url('../../images/bg-generic_3.png') no-repeat right 900px,
                linear-gradient(359.79deg, $solitude 0.37%, $white 99.69%);

    @media (max-width: $large) {
      background: url('../../images/bg-generic_1.png') no-repeat left top,
                  url('../../images/bg-generic_2.png') no-repeat 340px top,
                  url('../../images/bg-generic_3.png') no-repeat right 900px,
                  linear-gradient(359.79deg, $solitude 0.37%, $white 99.69%);
    }

    @media (max-width: $mobile) {
      background: linear-gradient(359.79deg, $solitude 0.37%, $white 99.69%);
    }
  }

  &.prices-theme {
    background: url('../../images/bg-generic_1.png') no-repeat left top,
                url('../../images/bg-generic_2.png') no-repeat 340px top,
                url('../../images/bg-generic_3.png') no-repeat right 300px,
                linear-gradient(359.79deg, $solitude 0.37%, $white 99.69%);

    @media (max-width: $large) {
      background: url('../../images/bg-generic_1.png') no-repeat left top,
                  url('../../images/bg-generic_2.png') no-repeat 340px top,
                  url('../../images/bg-generic_3.png') no-repeat right 300px,
                  linear-gradient(359.79deg, $solitude 0.37%, $white 99.69%);
    }

    @media (max-width: $mobile) {
      background: linear-gradient(359.79deg, $solitude 0.37%, $white 99.69%);
    }
  }

  &.laboratory-theme {
    background: url('../../images/bg-design_1.png') no-repeat bottom left,
                url('../../images/bg-design_3.png') no-repeat 18% top,
                url('../../images/bg-laboratory_2.png') no-repeat right top,
                url('../../images/bg-design_5.png') no-repeat left 50%,
                url('../../images/bg-design_6.png') no-repeat right 98%,
                url('../../images/bg-laboratory_1.png') no-repeat right 290px,
                linear-gradient(359.79deg, $solitude 0.37%, $white 99.69%);

    @media (max-width: $large) {
      background: url('../../images/bg-design_1.png') no-repeat bottom left,
                  url('../../images/bg-design_3.png') no-repeat 18% top,
                  url('../../images/bg-laboratory_2.png') no-repeat right top,
                  url('../../images/bg-laboratory_1.png') no-repeat right 290px,
                  linear-gradient(359.79deg, $solitude 0.37%, $white 99.69%);
    }

    @media (max-width: $mobile) {
      background: linear-gradient(359.79deg, $solitude 0.37%, $white 99.69%);
    }
  }
}