.g-container {
  max-width: 1240px;
  min-width: 320px;
  padding: 0 24px;
  box-sizing: border-box;
  margin: 0 auto;
  width: 100%;

  @media (max-width: $mobile) {
    padding: 0 16px;
  }

  &.wide {
    max-width: 1400px;
  }

  &.giant {
    max-width: 1560px;
  }
}

.g-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 8px 16px;
  height: 54px;
  min-width: 200px;
  max-width: 100%;
  color: $white;
  text-transform: uppercase;
  font-size: .8em;
  background-color: $turquoise;
  border-radius: 30px;
  cursor: pointer;
  outline: 0 none;
  font-weight: $f-bold;
  border: 2px solid $turquoise;
  transition: all .15s ease-in-out;

  &:hover {
    opacity: 1;
    background-color: $turquoise2;
    border-color: $turquoise2;
    color: $white;
  }

  &.info-btn {
    background-color: $white;
    color: $turquoise;

    &:hover {
      border-color: $turquoise2;
      color: $turquoise2;
    }
  }

  &.more-btn {
    background-color: $white;
    color: $opal;
    border-color: $opal;

    &:hover {
      border-color: $opal;
      color: $opal;
    }
  }

  &.link-btn {
    background-color: transparent;
    border-color: $white;
    color: $white;

    &:hover {
      opacity: .8;
      background-color: transparent;
      border-color: $white;
    }
  }

  .inner-icon_right {
    margin-left: 11px;
    height: 24px;
    display: inline-block;
  }
}

.g-title-h1 {
  color: $opal;
  font-weight: $f-bold;
  font-size: 4.6em;

  @media (max-width: $mobile) {
    font-size: 2.5em;
    text-align: center;
  }
}

.g-title-h2 {
  font-size: 2.2em;
  font-weight: $f-bold;
  line-height: normal;
  color: $dark;

  @media (max-width: $mobile) {
    font-size: 1.2em;
    text-align: center;
  }
}

.g-title-h3 {
  font-size: 1.8em;
  line-height: 1.25;
  color: $black;
  font-weight: bold;

  @media (max-width: $mobile) {
    font-size: 1em;
    text-align: center;
  }

  &.not-centered {
    @media (max-width: $mobile) {
      text-align: left;
    }
  }
}

.g-text {
  margin-top: 60px;
  line-height: 1.25;
  font-size: 1em;

  @media (max-width: $mobile) {
    margin-top: 25px;
    font-size: .9em;
    text-align: center;
  }

  &.no-top {
    margin-top: 0;
  }

  p + p {
    margin-top: 1em;
  }
}

.g-bold {
  font-weight: $f-bold;
}
