@font-face {
  font-family: 'Roboto';
  src: local('Roboto'),
  url(../../fonts/Roboto.ttf) format('truetype'),
  url(../../fonts/Roboto.woff2) format('woff2'),
  url(../../fonts/Roboto.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Robotobold';
  src: local('Robotobold'),
  url(../../fonts/Robotobold.ttf) format('truetype'),
  url(../../fonts/Robotobold.woff2) format('woff2'),
  url(../../fonts/Robotobold.woff) format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Robotoblack';
  src: local('Robotoblack'),
  url(../../fonts/Robotoblack.ttf) format('truetype'),
  url(../../fonts/Robotoblack.woff2) format('woff2'),
  url(../../fonts/Robotoblack.woff) format('woff');
  font-weight: 900;
  font-style: normal;
}

html {min-height: 100%;}

body {
  position: relative;
  overflow-x: hidden;
  min-width: 320px;
  min-height: 100%;
  background-color: $white;
  font-family: 'Roboto', sans-serif;
  font-size: $font-default;
  color: $black;
}

a {
  transition: $all-transition;
  color: $black;
  text-decoration: none;

  &:hover {
    opacity: .8;
    color: $black;
  }
}