// colors default
$white: #fff;
$black: #000;

// colors
$aquamarine: #2a6769;
$dark: #101010;
$coal: #101E41;
$turquoise: #0ad2d4;
$turquoise2: #21e1e3;
$opal: #a4c5c6;
$pale_opal: #e6efef;
$solitude: #f1f6f6;
$aqua: #f3f8f8;
$pale: #f4f5f5;
$gray: #818181;
$amulet: #84ad7e;
$pink: #d086a5;
$coral: #c7b2a5;
$cadet: #a4b4c6;
$puce: #d0868f;
$thistle: #c4c7a5;
$acapulco: #7eada5;

// fonts
$f-regular: normal;
$f-bold: bold;
$f-black: 900;

$font-default: 20px;

//transitions
$all-transition: all .2s ease-in-out;
$slow-all-transition: all .6s ease-in-out;

//screen sizes
$extraSmallMobile: 320px;
$smallMobile: 540px;
$mobile: 767px;
$tablet: 991px;
$desctop: 1140px;
$large: 1440px;